<!-- <ion-view view-title="Browse">
  <ion-content>
    <h1>Do you have dimples?</h1>
  </ion-content>
</ion-view>
-->

 <ion-view hide-back-button="true" view-title=""  hide-nav-bar="true" drag-back cache-view="false">


    <ion-content has-header="true" class="slide-in-both-ways dimplesbg">




  <div id="overlay">


  <div id="overlaynumbers6">

      <div id ="numbers">
        <span id="total-matches6"></span>
        <span id="total-number6"></span><br/>
      </div>

    <div id="breadcrumb"></div>
        <span class="contbutton" ng-click="nextquestion()"><img src="../img/button.svg"/></span>
  </div>

              
</div>

  <div id="moreoverlay6">

    <div class="moretitle">DISAPPEARING DIMPLE TRAITS &nbsp; &nbsp; <img id="evenmorebutton" ng-click="showevenmore()" src="../img/morebutton.svg" height="20"/></div>
    <p>If no one has ever had dimples in your family, you probably won't either, because the combination of genes needed to produce this trait doesn't run in your family.</p>

<p>If you do have dimples, but they disappeared after childhood, one of your parents probably also had dimples that disappeared with age.</p>

<p>If you have dimples and one of your parents still has dimples, they your probably won't disappear either. <a ng-click="hidemoreoverlay()">close</a></p>
   
  </div>


<div id="container6"></div>

     <div id="traitquestion">DO YOU HAVE <span class="dk">DIMPLES</span>?</div>


    <div id="scene6" class="trait"> 


          <div class="yesno">

            <div class="box" id="box1">
               <button class="button button-light" ng-click="answered('yes')" >YES</button>
              </div>

              
               <span class="or" id="or"></span>

            <div class="box" id="box2">
               <button class="button button-light" ng-click="answered('no')">NO</button>
            </div>
        </div>  
<!--
        <div class="morebutton" ng-click="showmoreoverlay()"><img src="../img/morebutton.svg"/></div> -->


    </div>


    </ion-content>
  </ion-view>



  

