 <ion-view view-title="" hide-nav-bar="true" >

     

        <ion-content>


 



      <div class="titlescreen">


        <div class="introtxt" id="intro2" ng-init="loadIntro2()">
          


<p>This app asks you seven questions about your physical characteristics and compares your answers thoseo of the nnn other people who've used this app.</p>




        </div>
       <div class="startbutton center" ng-click="startApp()"><img src="../img/button.svg"/></div>
  


    </ion-content>

   
   




</ion-view>