 <ion-view view-title="" hide-nav-bar="true" >

     

        <ion-content>


  <div id="learnmoreoverlay">

  <p><b>Heredity is the process of passing traits from parents to offspring through genes.</b></p>

<p>The genetic traits you inherit from your parents are stored in complex threadlike structures called chromosomes.  You have 23 pairs of chromosomes in the nucleus of almost every cell in your body.</p>

<p>Each chromosome contains one molecule of DNA, which contains instructions affecting everything from your hair color to your sex. These instructions are broke into segments called genes.  You have about 30,000 or so genes; you inherit half of them from your mother and half from your father.</p>

 <div class="center"><img ng-click="hidelearnmore()" src="../img/closebutton.svg"/></div>
   
  </div>


    <div id="aboutoverlay">

  <p>The <b>Exploratorium</b> is an eye-opening, playful learning laboratory in San Francisco, CA that continues to offer the world creative, thought-provoking experiences that spark inquiry, encourage exploration, and generally blow minds.</p>

<p>Visit us @ <b>Pier 15 in San Francisco, CA</b><br/> 
or online @ <a href="">http://www.exploratorium.edu</a></p>

<p class="credits">App Credits: <br/>
Dina Herring and Lowell Robinson<br/>
Digital Experiences Lab @ Exploratorium<br/>
Special thanks to Rob Semper and Living Systems Gallery for content and support.</p>



 <div class="center"><img ng-click="hideabout()" src="../img/closebutton.svg"/></div>
   
  </div>



      <div class="titlescreen">

        <div class="logo"><img src="../img/dnalogo.svg" /></div>

        <div class="introtxt"><br/><br/><br/><p>Find out how your features compare to everyone else's.</p></div>

        <div class="startbutton center" ng-click="nextIntro()"><img src="../img/button.svg"/></div>


        <div class="anime"><img src="../img/hanime6.gif"></div>
   

        <div class="footer">
          <div class="ad-left">
            <img ng-click="showlearnmore()" src="../img/hint@3x.png" width="180"/>
          </div>
          <div class="ad-right">
              <img ng-click="showabout()" src="../img/logo@3x.png" width="100"/> 
          </div>
        <div class="clear"></div>
        </div>
      

    </div>


    </ion-content>

   
   




</ion-view>